.facultycommentingblock {
    width: 100%;
}

.singlestudentblock {
    padding: 10px;
    margin: 10px;
    display: flex;
    border: 1px black solid;
    align-items: center;
    width: 170px;
    justify-content: space-between;
    border-radius: 10px;
}

.singlestudentblock img {
    height: 20px;
}

.studentainfocorner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.studentcontrolblockforFaculty {
    padding: 10px;
    margin: 20px;
    border: 1px black solid;
    border-radius: 10px;
}

.cancelBlock img {
    height: 40px;
}

.containerstudentBlock {
    padding: 30px 0 0 0;
}

.facultyReview {
    margin: 5px;
    border: 1px black solid;
    padding: 15px;
    width: 90%;
}

.cie1review {
    border: none;
    width: 100%;
}

.ciesubmit {
    padding: 10px 50px;
    margin: 10px;

}

.studentcontainerdatablock {
    margin: 20px;
}


@media(width<600px) {
    .studentainfocorner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(width<300px) {
    .studentainfocorner {
        grid-template-columns: repeat(1, 1fr);
    }
}