body {
    overflow: hidden;
}

.studentBlock {
    display: flex;
    height: 100vh;
    width: 100%;
}

.navigationBarBlock {
    width: 20%;
    border: 1px black solid;
    height: 97%;
    background: #f8fdffdb;
    border-radius: 15px;
}

.HeaderNavbarcontentBlock {
    margin: 10px 10px 0px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #0003;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logout {
    margin: 0px 10px 0px 14px;
}

.NavbarBodyBlockcontent {
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;

    border-radius: 10px;
}

.NavbarBodyBlockcontent:hover,
.active {
    background-color: #0002;
    cursor: pointer;
}

.NavbarBodyBlockcontent img {
    height: 20px;
    margin: 0px 10px;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.NavbarBodyContent {
    margin: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    /* align-items: center; */
}

.mainstudentBlock {
    width: 79%;
    overflow-y: auto;
}

.imageContainerBlock {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.mainnavbartop {
    border-bottom: 1px solid black;
    margin: 20px;
}

.studentDataInfoNavbar {
    width: 96%;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.imageContainerBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.imageContainerBlock1 {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.imageContainerBlock1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.mainContentblock {
    padding: 20px;
    border: 1px black solid;
    margin: 20px;
    border-radius: 20px;
}

.p {
    margin: 0px 0px 0px 50px;
}

.studentCredentials {
    display: flex;
    align-items: center;
}

.examBlockDetails {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.cie {
    background: #0002;
    width: 90%;
    padding: 30px 15px 15px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    margin: 10px auto;
    /* height: 150px; */
}

.select {
    width: 100%;
    padding: 15px;
}

.reasonsFor {
    width: 100%;
}

.completedetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 200px; */
    justify-content: space-evenly;
}

.studentDetailsBlock {
    padding: 80px 0px;
}

.inputBlockContainer {
    border: 1px black solid;
    border-radius: 15px;
    overflow: hidden;
    width: 15%;
    /* padding: 10px; */
}

.inputBlockContainer2 {
    border: 1px black solid;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    width: 93%;
    /* padding: 10px; */
}

.inputBlockContainer input {
    padding: 20px 10px;
    border: none;
    width: 100%;
    height: 40%;
}

.reasonsFor .inputBlockContainer3:last-child {
    margin: 0 auto 20px auto;
}

.addr {
    margin: 0;
}

.cie1Submit {
    padding: 10px;
    width: 21%;
    margin: 20px 30px;
    display: block;
}

.rightblockcontainer {
    width: 79%;
}

.paragraph {
    margin: 14px 45px;
}

.subjectHandler {
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
}

.updateProfileBlock {
    width: 79%;
    overflow-y: auto;
}

.profileblockcontainer {
    margin: 20px;
    padding: 20px;
}

.studentBlockContainer {
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: 1px black solid;
    width: 100%;
    box-sizing: border-box;
}

.querry {
    margin: 10px 5px;
}

.studentInfoName {
    margin: 0px 0px 37px 0px;
}

.editoption {
    margin: 0px 0px 30px 0px;
}

.editoption img {
    height: 20px;
}

.editoption button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    cursor: pointer;
}

.detailsBlockStudent {
    margin: 0 0 20px 0;
}

table {
    width: 100%;
}

tr {
    display: block;
    width: 100%;
}

tr td:first-child {
    border: 1px black solid;
    padding: 10px;
    width: 150px;
    font-weight: 600;
}

tr td:last-child {
    border: 1px black solid;
    padding: 10px;
    width: 80%;

}

tbody {
    width: 100%;

    display: block;


}

.studentBlockContainer:focus {
    border: 1px black solid;
}

.error {
    color: red;
    padding: 15px;
    background: #ff000010;
}

.success {
    color: green;
    padding: 15px;
    background: #00ff0010;
    margin: 20px;
}

.orange {
    color: orange;
    padding: 15px;
    background-color: #dc143c10;
    margin: 20px;
}

.submitbutton button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    cursor: pointer;
    padding: 10px;

}

.studentDetailsBlock1 {
    padding: 10px 0px;
}

.profileblock {
    display: none;
}

.extracontainer {
    font-size: 100px;
    position: absolute;
    top: 0;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.file {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0 0 20px;
    position: relative;
    overflow: hidden;
}

.file:hover {
    cursor: pointer;
}

.file:hover .extracontainer {
    visibility: visible;
}

.file img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inputBlockContainer3 {
    width: 93%;
    /* padding: 10px; */
    overflow: hidden;
    margin: 20px auto;
    border: 1px black solid;
    border-radius: 10px;
}

@media(width < 600px) {
    body {
        overflow: auto;
    }

    .rightblockcontainer {
        width: 100%;
    }

    .profilePic img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .profileblock {
        display: block;
    }

    .navigationBarBlock {
        width: 96%;
        z-index: 10;
        position: absolute;
        background: #fff;
        margin-top: -500%;
    }

    .updateProfileBlock {
        width: 100%;
    }

    .mainContentblock {
        margin: 0;
        border: none;
        padding: 0;
    }

    .mainstudentBlock {
        width: 100%;
    }

    .mainnavbartop {
        border: none;
    }

    .completedetails {
        height: auto;
    }

    .subjectHandler {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputBlockContainer {
        width: 100%;
        margin: 10px;
    }

    .cie1Submit {
        padding: 10px;
        width: 50%;
        margin: 15px auto;
        display: block;
    }

    .inputBlockContainer2 {
        width: 100%;
    }

    .studentCredentials h1 {
        height: 18px;
    }

    tbody {
        font-size: 12px;
    }

    tr td:first-child {
        width: 180px;
    }

    tr td:last-child {
        width: 60%;
    }

    .studentInfoContainer h2 {
        font-size: 18px;
    }

    .studentInfoContainer {
        padding: 0;
        margin: 0 10px;
    }

    .studentInfoName {
        margin: 0px 0px 37px 0px;
        padding: 20px;
        border: 1px black solid;
        border-radius: 15px;
    }

    .NavbarBodyContent {
        height: 70%;
    }

    .studentainfocorner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(width<300px) {
    .studentainfocorner {
        grid-template-columns: repeat(1, 1fr);
    }
}