.inputBlock {
  border: 1.5px #1c1c1e94 solid;
  display: flex;
  width: 95%;
  /* margin: 15px auto; */
  outline: none;
  border: none;
  padding: 10px;
}

.inputBlock1 {
  border: 1.5px #1c1c1e94 solid;
  display: flex;
  width: 100%;
  /* margin: 15px auto; */
  outline: none;
  border: none;
  padding: 10px;
}

.signupblock {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupPage {
  width: 98vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup {
  border: 1.5px #1c1c1e94 solid;
  width: 30%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -15px;
}

.inputBlockContainer {
  border: 1px #1c1c1e solid;
  margin: 10px auto;
  width: 90%;
}

.form {
  width: 100%;
}

.span {
  margin: 5px;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  display: block;
  text-align: center;
}
.span:first-child{
  height: 40px;
  font-size: 20px;
}
.span button{
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.span button:hover{
  text-decoration: underline;
}


.submit{
    background-color: #82b7e6a8;
}

@media(width < 800px){
  .signup{
    width: 60%;
  }
}
@media(width < 500px){
  .signup{
    width: 80%;
  }
  .span:first-child{
    font-size: 16px; 
  }
  .span:nth-child(2){
    font-size: 13px; 
  }
  
}
@media(width < 400px){
  .signup{
    width: 89%;
  }
}